__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
.idea/
.vscode/
*.log

# Plugin files
easyeda_plugin/*
!easyeda_plugin/mcp_plugin.eext
!easyeda_plugin/src/
easyeda_plugin/src/*
!easyeda_plugin/src/api_commands.json
!easyeda_plugin/src/extension.json
!easyeda_plugin/src/main.js
